

    <% include ./partials/header.html %>
    


    <table>
      <thead>
        <tr>
          <th><%=__('Name')%></th>
          <th><%=__('Buy')%></th>
          <th><%=__('Price')%></th>
          <th><%=__('Tags')%></th>
          <th><%=__('Image')%></th>
        </tr>
      </thead>

      <% articles.forEach(article => { %>
        <tr>
          <td><%= article.nombre %></td>
          <td><%= article.venta %> </td>
          <td><%= article.precio %><span>€</span></td>
          <td><%= article.tags %> </td>
          <td><img src="<%= article.foto %>" alt=""></td>
          
        </tr>
      <% }) %>
    </table>

    <% include ./partials/footer.html %>
  